$bg-c-main: #ffffff;
$bg-c-secondary: #f5f4fa;
$bg-c-secondary-dark: #2f303a;
$bg-c-accent: #2196f3;
$bg-c-accent-transp: rgba(33, 150, 243, 0.9);
$bg-c-border: #ececec;
$bg-c-card-border: #eeeeee;
$bg-c-social-transp: rgba(255, 255, 255, 0.1);
$bg-c-doings-transp: rgba(47, 48, 58, 0.8);

$txt-c-main: #757575;
$txt-c-secondary: #212121;
$txt-c-accent: #2196f3;
$txt-c-light: #ffffff;
$txt-c-light-transp: rgba(255, 255, 255, 0.6);

$icon-c-primary: #afb1b8;

$trans-duration: 250ms;
$trans-cubic: cubic-bezier(0.4, 0, 0.2, 1);
